html {
    font-size: 16px;
}

.display-5 {
    font-size: 3rem;
}

.users-post {
    font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .display-5 {
        font-size: 2.5rem;
    }

    .users-post {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .display-5 {
        font-size: 1.8rem;
    }
}
