<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      th:replace="~{base :: layout(~{::title}, ~{::main})}">

<head>
    <title>Edit post</title>
</head>

<body>
<main>
    <div class="col-md-8 offset-md-2" style="margin-top: 8%;" id="edit-post">
        <div class="card border-info">
            <div class="card-header bg-info">
                Edit post
            </div>

            <div class="card-body">
                <div class="card-text">

                    <form action="#" th:action="@{/social-network/edit-post}" th:object="${post}" method="POST" class="form-horizontal">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{createdAt}"/>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div th:if="${#fields.hasErrors('content')}"
                                     class="alert alert-danger offset-sm-1 col-sm-10"
                                     th:errors="*{content}">
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <textarea th:field="*{content}" placeholder="Description (required)" class="form-control" rows="6"></textarea>
                        </div>
                        <div class="input-group mb-4">
                            <input type="text" th:field="*{imageUrl}" placeholder="Copy image link from internet (optional)" class="form-control" />
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" th:field="*{enableComments}" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Allow comments</label>
                        </div>

                        <div class="form-group mt-3">
                            <div class="row align-items-center">
                                <div class="col-md-6 controls">
                                    <button type="submit" class="btn btn-success">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>


</html>