<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      th:replace="~{base :: layout(~{::title}, ~{::main})}">

<head>
    <title>Social Network - Home</title>
</head>

<body>
<main>
    <div class="row mt-2 mx-2 d-flex justify-content-center">
        <div class="row mt-2">
            <div class="col-sm-8 offset-sm-2" id="no-posts-available-container">
                <div th:if="${posts.isEmpty()}">
                    <div class="row mb-2 border border-primary bg-light rounded">
                        <div class="col-10 offset-1 p-2 text-center align-items-center">
                            <span class="text-danger d-block">No posts available.</span>
                        </div>
                    </div>
                </div>
                <div th:each="post : ${posts}">
                    <div class="row mb-3 border border-primary d-flex justify-content-center bg-light rounded" th:id="'post-' + ${post.getId()}">
                        <div class="row mt-1">
                            <div class="col-3 text-start">
                                <span class="text-secondary d-none d-md-inline">Author: </span>
                                <a class="link-dark" th:href="@{/social-network/users/__${post.getAuthor().getId()}__}"
                                th:text="${post.getAuthor().getUsername()}"></a>
                            </div>
                            <div class="col-5 offset-4 text-center d-flex justify-content-end">
                                <span class="text-secondary" th:text="${#dates.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                        </div>
                        <div th:if="${user.getUsername() == post.getAuthor().getUsername()}">
                            <div class="row mt-2 mx-1">
                                <div class="col-3 d-flex justify-content-start">
                                    <a class="btn btn-primary" th:href="@{/social-network/edit-post/__${post.getId()}__}"
                                       th:text="Edit"></a>
                                </div>
                                <div class="col-3 offset-6 d-flex justify-content-end">
                                    <a class="btn btn-danger" th:text="Delete" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${post.getId()}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="'modal-' + ${post.getId()}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete post?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this post?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <div class="form-horizontal">
                                            <div class="col-md-6 controls">
                                                <button onClick="onDeletePostClick(this.id)" th:id="'post-delete-' + ${post.getId()}" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-12">
                                <p th:text="${post.getContent()}" class="text-justify"></p>
                            </div>
                        </div>
                        <div th:if="${!post.getImageUrl().isBlank()}">
                            <div class="row mt-0 mb-2 d-flex justify-content-center">
                                <div class="col-10 offset-1 mx-0 d-flex justify-content-center">
                                    <img th:src="${post.getImageUrl()}" class="img-fluid text-danger text-justify rounded" alt="Image is unreachable." loading="lazy">
                                </div>
                            </div>
                        </div>
                        <div class="row mx-1 mt-3 mb-2 pt-2 align-items-center border-top border-primary">
                            <div class="col-3 d-flex justify-content-start">
                                <div th:if="${!likedPostIDs.contains(post.getId())}">
                                    <a class="btn btn-primary" onClick="onLikeClick(this.id)" th:id="'post-like-' + ${post.getId()}">
                                        Like
                                    </a>
                                </div>
                                <div th:if="${likedPostIDs.contains(post.getId())}">
                                    <a class="btn btn-danger" onClick="onLikeClick(this.id)" th:id="'post-like-' + ${post.getId()}">
                                        Dislike
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img th:src="@{/images/like.png}"
                                     class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                                <span th:text="${post.getLikes().size()}" th:id="'like-size-' + ${post.getId()}" class="d-inline-block ms-1 fw-bold"></span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img th:src="@{/images/comment.png}"
                                     class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                                <span th:text="${post.getComments().size()}" class="d-inline-block ms-1 fw-bold"></span>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <a class="btn btn-primary" th:href="@{/social-network/posts/__${post.getId()}__}">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onLikeClick(id) {

            const regExp = /\d+/;
            const likeButton = document.getElementById(id)
            let postId = id.match(regExp)
            if(likeButton.innerText === "Like") {
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    data: `{"postId": ${Number(postId)}}`,
                    url: "/social-network/api/posts/like",
                    dataType: "json",
                    success: function (result) {

                        likeButton.innerText = "Dislike"
                        likeButton.setAttribute("class", "btn btn-danger")
                        const likeSize = document.getElementById('like-size-' + postId)
                        let likeSizeNumber = Number(likeSize.innerText)
                        likeSize.innerText = String(likeSizeNumber + 1)
                    },
                    error: function (result) {
                        console.log("REST controller error")
                    }
                });
            } else {
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    data: `{"postId": ${Number(postId)}}`,
                    url: "/social-network/api/posts/dislike",
                    dataType: "json",
                    success: function (result) {

                        likeButton.innerText = "Like"
                        likeButton.setAttribute("class", "btn btn-primary")
                        const likeSize = document.getElementById('like-size-' + postId)
                        let likeSizeNumber = Number(likeSize.innerText)
                        likeSize.innerText = String(likeSizeNumber - 1)
                    },
                    error: function (result) {
                        console.log("REST controller error")
                    }
                });
            }
        }

        function onDeletePostClick(id) {

            const regExp = /\d+/;
            let postId = id.match(regExp)
            const post = document.getElementById("post-" + postId)
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: `{"postId": ${Number(postId)}}`,
                url: "/social-network/api/posts/delete-post",
                dataType: "json",
                success: function (result) {

                    post.remove()

                    if(result['notificationsRemaining'] === 0) {
                        const newNotifications = document.getElementById('new-notifications')
                        if(newNotifications) {
                            newNotifications.hidden = true
                        }
                    }

                    if(result['postsRemaining'] === 0) {
                        const noPostsAvailable = $('#no-posts-available-container')
                        noPostsAvailable.html(
                            `<div class="row mb-2 border border-primary bg-light rounded">
                                <div class="col-10 offset-1 p-2 text-center align-items-center">
                                    <span class="text-danger d-block">No posts available.</span>
                                </div>
                            </div>`
                        )
                    }
                },
                error: function (result) {
                    console.log("REST controller error")
                }
            });

        }
    </script>
</main>
</body>

</html>