<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      th:replace="~{base :: layout(~{::title}, ~{::main})}">

<head>
    <title>Notifications page</title>
</head>

<body>
<main>
    <div class="row mt-2 mx-2 d-flex justify-content-center">
        <div class="row mt-4">
            <div class="col-sm-8 offset-sm-2">
                <div class="row mb-3 border border-primary rounded p-1 d-flex justify-content-center bg-light">
                    <div class="col-12">
                        <div th:if="${notifications.size() != 0}">
                            <span class="users-post" th:id="notifications-header">New notifications:</span>
                        </div>
                        <div th:if="${notifications.size() == 0}">
                            <span class="users-post" th:id="notifications-header">You have no new notifications.</span>
                        </div>
                    </div>
                </div>
                <div th:each="notification : ${notifications}">
                    <div class="row mb-3 border border-primary d-flex justify-content-center bg-light rounded" th:id="'notification-' + ${notification.getId()}">
                        <div class="row mt-1 align-items-center">
                            <div class="col-9 text-start">
                                <span>User</span>
                                <a class="link-dark" th:href="@{/social-network/users/__${notification.sender.getId()}__}"
                                   th:text="${notification.sender.getUsername()}"></a>
                                <span th:text="${notification.content}"></span>
                                <a class="link-dark" th:href="@{/social-network/posts/__${notification.post.getId()}__}">post</a>
                                <span>at</span>
                                <span th:text="${#dates.format(notification.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <a class="btn btn-success mb-1" onClick="onDeleteNotificationClick(this.id)" th:id="'notification-delete-' + ${notification.getId()}">
                                    Mark as read</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onDeleteNotificationClick(id) {

            const regExp = /\d+/;
            let notificationId = id.match(regExp)
            const notification = document.getElementById("notification-" + notificationId)
            $.ajax({
                type: "delete",
                contentType: "application/json",
                data: `{"id": ${Number(notificationId)}}`,
                url: "/social-network/api/notifications/delete-notification",
                dataType: "json",
                success: function (result) {

                    notification.remove()
                    if(result['remaining'] === 0) {
                        const notificationsHeader = document.getElementById('notifications-header')
                        const newNotifications = document.getElementById('new-notifications')
                        notificationsHeader.innerText = "You have no new notifications."
                        newNotifications.hidden = true
                    }
                },
                error: function (result) {
                    console.log("REST controller error")
                }
            });

        }
    </script>
</main>
</body>

</html>