<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en"
      th:replace="~{base :: layout(~{::title}, ~{::main})}">

<head>
    <title>Profile page</title>
</head>

<body>
<main>
    <div class="row mt-2 mx-2 d-flex justify-content-center">
        <div class="col-12">
            <div class="jumbotron fluid-jumbotron border border-primary rounded mb-4 mt-3 bg-light">
                <div class="container">
                    <div class="row mx-1 mt-2 mb-2 align-items-center">
                        <div class="col-6 d-flex justify-content-start align-items-center">
                            <span class="display-5 me-2">Username: </span>
                            <span class="display-5 fw-bold" th:text="${userProfile.username}"></span>
                        </div>
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <img th:src="@{/images/like.png}"
                                 class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                            <span th:text="${totalLikes}" id="total-user-likes" class="d-inline-block ms-1 fw-bold"></span>
                        </div>
                        <div class="col-3 d-flex justify-content-end align-items-center">
                            <img th:src="@{/images/comment.png}"
                                 class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                            <span th:text="${totalComments}" class="d-inline-block ms-1 fw-bold" id="total-user-comments"></span>
                        </div>
                    </div>
                    <div th:if="${user.getUsername() == userProfile.getUsername()}">
                        <div class="row mx-1 mt-0 mb-2 align-items-end">
                            <div class="col-3 offset-9 d-flex justify-content-end align-items-center">
                                <a class="btn btn-primary" th:href="@{/social-network/manage-user}"
                                   th:text="Manage"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-8 offset-sm-2">
                <div th:if="${userModified}">
                    <div class="row mt-0" id="toRemove0">
                        <div class="alert alert-success">
                            Profile modified successfully.
                        </div>
                    </div>
                </div>
                <div th:if="${postDeleted}">
                    <div class="row mt-0" id="toRemove1">
                        <div class="alert alert-success">
                            Post deleted successfully.
                        </div>
                    </div>
                </div>
                <div class="row mb-3 border border-primary rounded p-1 d-flex justify-content-center bg-light">
                    <div class="col-12">
                        <span class="users-post">All author's posts:</span>
                    </div>
                </div>
                <div th:each="post : ${posts}">
                    <div class="row mb-3 border border-primary d-flex justify-content-center bg-light rounded" th:id="'post-' + ${post.getId()}">
                        <div class="row mt-1">
                            <div class="col-3 text-start">
                                <span class="text-secondary d-none d-md-inline">Author: </span>
                                <a class="link-dark" th:href="@{/social-network/users/__${userProfile.getId()}__}"
                                   th:text="${userProfile.getUsername()}"></a>
                            </div>
                            <div class="col-5 offset-4 text-center d-flex justify-content-end">
                                <span class="text-secondary" th:text="${#dates.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                        </div>
                        <div th:if="${user.getUsername() == userProfile.getUsername()}">
                            <div class="row mt-2 mx-1">
                                <div class="col-3 d-flex justify-content-start">
                                    <a class="btn btn-primary" th:href="@{/social-network/edit-post/__${post.getId()}__}"
                                       th:text="Edit"></a>
                                </div>
                                <div class="col-3 offset-6 d-flex justify-content-end">
                                    <a class="btn btn-danger" th:text="Delete" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${post.getId()}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="'modal-' + ${post.getId()}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete post?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this post?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <div class="form-horizontal">
                                            <div class="col-md-6 controls">
                                                <button onClick="onDeletePostClick(this.id)" th:id="'post-delete-' + ${post.getId()}" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-12">
                                <p th:text="${post.getContent()}" class="text-justify"></p>
                            </div>
                        </div>
                        <div th:if="${!post.getImageUrl().isBlank()}">
                            <div class="row mt-0 mb-2 d-flex justify-content-center">
                                <div class="col-10 offset-1 mx-0 d-flex justify-content-center">
                                    <img th:src="${post.getImageUrl()}" class="img-fluid text-danger text-justify rounded" alt="Image is unreachable." loading="lazy">
                                </div>
                            </div>
                        </div>
                        <div class="row mx-1 mt-3 mb-2 pt-2 align-items-center border-top border-primary">
                            <div class="col-3 d-flex justify-content-start">
                                <div th:if="${!likedPostIDs.contains(post.getId())}">
                                    <a class="btn btn-primary" onClick="onLikeClick(this.id)" th:id="'post-like-' + ${post.getId()}">
                                        Like
                                    </a>
                                </div>
                                <div th:if="${likedPostIDs.contains(post.getId())}">
                                    <a class="btn btn-danger" onClick="onLikeClick(this.id)" th:id="'post-like-' + ${post.getId()}">
                                        Dislike
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img th:src="@{/images/like.png}"
                                     class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                                <span th:text="${post.getLikes().size()}" th:id="'like-size-' + ${post.getId()}" class="d-inline-block ms-1 fw-bold"></span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img th:src="@{/images/comment.png}"
                                     class="img-fluid col-lg-3 col-xl-2 col-5 col-md-4 col-sm-6" alt="Like">
                                <span th:text="${post.getComments().size()}" class="d-inline-block ms-1 fw-bold"></span>
                            </div>
                            <div class="col-3 d-flex justify-content-end">
                                <a class="btn btn-primary" th:href="@{/social-network/posts/__${post.getId()}__}">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function() {
            const element0 = document.getElementById('toRemove0');
            const element1 = document.getElementById('toRemove1');
            setTimeout(function () {
                if (element0) {
                    element0.parentNode.removeChild(element0);
                }
                if (element1) {
                    element1.parentNode.removeChild(element1);
                }
            }, 5000);
        };

        function onLikeClick(id) {

            const regExp = /\d+/;
            const likeButton = document.getElementById(id)
            let postId = id.match(regExp)
            if(likeButton.innerText === "Like") {
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    data: `{"postId": ${Number(postId)}}`,
                    url: "/social-network/api/posts/like",
                    dataType: "json",
                    success: function (result) {

                        likeButton.innerText = "Dislike"
                        likeButton.setAttribute("class", "btn btn-danger")
                        const likeSize = document.getElementById('like-size-' + postId)
                        let likeSizeNumber = Number(likeSize.innerText)
                        likeSize.innerText = String(likeSizeNumber + 1)

                        if(result['selfReaction']) {
                            const totalLikes = document.getElementById("total-user-likes")
                            let totalLikeSizeNumber = Number(totalLikes.innerText)
                            totalLikes.innerText = String(totalLikeSizeNumber + 1)
                        }
                    },
                    error: function (result) {
                        console.log("REST controller error")
                    }
                });
            } else {
                $.ajax({
                    type: "post",
                    contentType: "application/json",
                    data: `{"postId": ${Number(postId)}}`,
                    url: "/social-network/api/posts/dislike",
                    dataType: "json",
                    success: function (result) {

                        likeButton.innerText = "Like"
                        likeButton.setAttribute("class", "btn btn-primary")
                        const likeSize = document.getElementById('like-size-' + postId)
                        let likeSizeNumber = Number(likeSize.innerText)
                        likeSize.innerText = String(likeSizeNumber - 1)

                        if(result['selfReaction']) {
                            const totalLikes = document.getElementById("total-user-likes")
                            let totalLikeSizeNumber = Number(totalLikes.innerText)
                            totalLikes.innerText = String(totalLikeSizeNumber - 1)
                        }
                    },
                    error: function (result) {
                        console.log("REST controller error")
                    }
                });
            }
        }

        function onDeletePostClick(id) {

            const regExp = /\d+/;
            let postId = id.match(regExp)
            const post = document.getElementById("post-" + postId)
            $.ajax({
                type: "post",
                contentType: "application/json",
                data: `{"postId": ${Number(postId)}}`,
                url: "/social-network/api/posts/delete-post",
                dataType: "json",
                success: function (result) {

                    post.remove()

                    if(result['notificationsRemaining'] === 0) {
                        const newNotifications = document.getElementById('new-notifications')
                        if(newNotifications) {
                            newNotifications.hidden = true
                        }
                    }

                    const totalLikes = document.getElementById("total-user-likes")
                    const totalComments = document.getElementById("total-user-comments")
                    totalLikes.innerText = result['userLikes']
                    totalComments.innerText = result['userComments']
                },
                error: function (result) {
                    console.log("REST controller error")
                }
            });

        }
    </script>
</main>
</body>

</html>